@font-face {
    font-family: 'MysticalAlpha';
    src: url('/fonts/MysticalAlpha/MysticalAlpha.woff2') format('woff2'),
        url('/fonts/MysticalAlpha/MysticalAlpha.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}