html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*tiiny banner hiding*/
div[style*="position: fixed !important; bottom: 0% !important;"] {
  display: none !important;
}

div:has(a[href*="tiiny.host"]) {
  display: none !important;
}
